<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<div class="brd">
<p align="left"><h3>{{ new.name }} : {{ new.date_time |date:'d M Y' }}</h3></p>
<p align="left">{{ new.description | filtercen}}</p><p align="left"> <a href="/news/">Вернуться на главную страницу</a> </p>
    </div>
{% endblock content %}