{% extends 'flatpages/default.html' %}
{% block title %}
Search
{% endblock title %}

{% block content %}
<h5>Поиск новостей</h5>

<div class="brd">
<br><form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы, придётся делать самому -->
    <input type="submit" value="Найти">
</form>
    </div>
<br>
{% for obj in filter.qs %}
<p align="left"><h4><a href="/news/{{obj.id}}">{{ obj.name }}</a> : {{ obj.date_time|date:'d-m-Y h:i'}}</h4><br></p>
<p align="left"><h6>Автор: {{ obj.author }}<br></h6></p>
<p align="left">{{ obj.description }}</p>
{% endfor %}

{% endblock content %}